body {
    background: url(../img/background.png);
}
.header-button {
    margin-top: 5px;
    padding: 5px;
    color:white;
}
.name-container {
    background: #3A87AD;
    padding: 3px;
    font-weight: bolder;
}
.list-row{
    min-height: 63px;
    height:auto;
    padding-top: 10px;
    font-family: sans-serif;
}
.count-container {
    background: transparent;
    float: right;
    margin: 0 3px 0 0;
    padding: 5px;
    width: 46px;
    height: 38px;
    color: #555;
    margin-top: 16px;
    margin-right: 8px;
}
.large-count {
    height: 25px;
    font-size: 274%;
    font-weight: bold;
    vertical-align: baseline;
    padding-left: 12px;
}
.mini-count {
    margin-right: 4px;
    font-weight: bold;
    font-size: 14px;
    color: #555;
}
.count-lists {
    margin-left: 19px;
    font-size: 17px;
    margin-top: 5px;
}
.list-topic-container {
    height:58px;
    min-height: 40px;
    margin-right: 6px;
    width: 90%;
    font-size: 17px;
    padding-top: 8px;

}
.side-bar{
    min-height:250px;
    height:auto;
}
.div-heading{
    color:#404040;
    font-weight: bold;
    font-size: 18px;
    margin-top: 9px;
}
a{
    color:#4280B9;
}
#search_box {
    background-color: #FAFAFA;
    background-image: -moz-linear-gradient(top, white, #F2F2F2);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#F2F2F2));
    background-image: -webkit-linear-gradient(top, white, #F2F2F2);
    background-image: -o-linear-gradient(top, white, #F2F2F2);
    background-image: linear-gradient(to bottom, white, #F2F2F2);
    background-repeat: repeat-x;
    border: 1px solid #D4D4D4;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    padding:9px;
    width:63%;
    display: inline-block;
    float: left;
    margin:5px;
    margin-top: 6px;

}
.search-btn{
    padding-top: 6px;
    padding-bottom: 6px;
    margin: 1px;
    line-height: 23px;
    margin-left: 4px;
}
#search_box input {
    font:bold 24px sans-serif; 
    width:494px;;
    height:25px;
    margin-bottom: 2px;
    margin-top: 1px;
    padding-top: 8px;
}
.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}
legend {
    margin-bottom: 10px;
}
.top-members{
    height:78px;
    margin-bottom: 11px;
}
.image-container {
    float: left;
    height:50px;
    width:50px;
    padding-right: 8px;
}
.member-info {
    width: 100%;
    height: auto;
    float: left;
    line-height: 10px;
}
.member-name {
    cursor: pointer;
    color: #3B5998;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.38;
    float:left;
    width: 73%;
    padding-bottom: 5px;
}
.member-stats {
    font-size :13px;
    font-family: sans-serif;
    margin-top: 8px;
}
.stats-count {
    font-size :12px;
    font-family: sans-serif;
    line-height: 2.1em;
    font-weight: bolder;
}
.row-icons{
    margin-top: 1px;
}
.tags-word {
    color: #3B5998;
    margin-right: 3px;
}
.tags-container {
    margin-left: 128px;
}
.main-list{
    font-weight: bold;
}
.mini-list {
    border-bottom: 1px solid #DDD;
    padding-bottom: 4px;
}
.list-form {
    padding: 19px 0px 0px 12px;
    margin: 0 auto;
}
label {
    font-size: 18px;
}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input{
    margin-bottom: 0px;
}
input.span4, textarea.span4, .uneditable-input.span4 {
    width: 243px;
}
.form-submit {
    margin-top: 10px;
}
.topic-main{
    min-height: 50px;
}
.member-stats-main {
    font-size :13px;
    font-family: sans-serif;
    float:left;
    width: 100%;
}
.owner-name{
    font-weight: bold;
    color:#4280B9;
}
.row-container {
    border-bottom: 1px solid #DDD;
    min-height: 108px;
    height:auto
}
.follow-sidebar{
    font-size: 12px;
}
.stat strong{
    font-size: 14px;
}
.mini-list-name {
    width:100%
}
.label-counter {
    padding: 0px 4px 0px;
}
.bot-header-link {
    background-color: #FAFAFA;
    background-image: -moz-linear-gradient(top, white, #F2F2F2);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#F2F2F2));
    background-image: -webkit-linear-gradient(top, white, #F2F2F2);
    background-image: -o-linear-gradient(top, white, #F2F2F2);
    background-image: linear-gradient(to bottom, white, #F2F2F2);
    background-repeat: repeat-x;
    border: 1px solid #D4D4D4;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    display: inline-block;
    margin-top: 6px;
    width: 153px;
    text-decoration: none;
    font: bold 20px sans-serif;
    color: #555;
    height: 60px;
}
.modal-footer{
    background-color:  white;
    margin-top: 37px;
}
.form-horizontal .control-label {
    width: 109px;
}
.form-horizontal .controls {
    margin-left: 130px;
}
.owner-and-created{
    float:right;
    padding-top: 8px;
}
.owner-name {
    float: right;
    font-size: 12px;
    font-weight: normal;
}
.owner-name a {
    color: #4280B9;;
    text-decoration: none;
    cursor: pointer;
}
.owner-name a:hover {
    color: #005580;
    text-decoration: underline;
}
.time{
    float: right;
    font-size: 12px;
    font-weight: bold;
    margin-right: 3px;
    color: #999;
}
.btn-container {
    padding-top:8px;
}
.btn-container a {
    padding:18px;
}
.typeahead{
    margin:0px;
}